@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import "tailwindcss";

@theme {
  /* Font */
  --font-sora: "Sora", sans-serif;

  /* Color Palette */
  --color-primary: #0f1011;
  --color-secondary: #c1fb69;
  --color-blue: #509cf5;
  --color-indigo: #5c7af7;
  --color-gray: #565758;
  --color-light: #e7e7e7;
  --color-white: #ffffff;
}

body {
  font-family: var(--font-sora);
  font-weight: 300;
  background: var(--color-white);
  color: var(--color-primary);
}
