@import "tailwindcss";

/* Sora Local Font */

@font-face {
  font-family: "Sora";
  src: url("./assets/fonts/Sora/Sora-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sora";
  src: url("./assets/fonts/Sora/Sora-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sora";
  src: url("./assets/fonts/Sora/Sora-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sora";
  src: url("./assets/fonts/Sora/Sora-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sora";
  src: url("./assets/fonts/Sora/Sora-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* Font */
  --font-sora: "Sora", sans-serif;

  /* Color Palette */
  --color-primary: #0f1011;
  --color-secondary: #c1fb69;
  --color-blue: #509cf5;
  --color-indigo: #5c7af7;
  --color-gray: #565758;
  --color-light: #e7e7e7;
  --color-white: #ffffff;
}

body {
  font-family: var(--font-sora);
  font-weight: 300;
  background: var(--color-white);
  color: var(--color-primary);
}
